.select-container {
  margin: 10px;
  .select-field-container {
    width: 100%;
    line-height: 3.84rem;
    border-radius: 0.5rem;
    color: #24292e;
    background-color: #ffffff;
    position: relative;
    font-size: 1.4rem;
    border: 1px solid #ced6e0;
    transition: all 0.3s;
    box-sizing: border-box;
    height: auto;
    min-height: 4rem;
    & > label {
      background: #ffffff;
      font-weight: 400;
      position: absolute;
      pointer-events: none;
      inset-inline-start: 1.2rem;
      top: 50%;
      transform: translateY(-50%);
      transition: 0.2s ease all;
      white-space: nowrap;
      overflow: hidden;
      display: flex;
      height: calc(100% - 2px);
      align-items: center;
      z-index: 2;
      color: rgba(36, 41, 46, 0.4);
      width: calc(100% - 6.5rem);
    }
    &:hover {
      border: 1px solid #1677ff;
      box-shadow: 0 0 0 3px #1677ff1a;
    }
    .select-field {
      .select-field-selector {
        align-items: center;
        padding-inline: 8px;
        border-radius: 6px;
        position: relative;
        display: flex;
        max-width: 100%;
        padding-inline-end: 29px;
        height: 99%;
        transition: all 0.2s cubic-bezier(0.645, 0.045, 0.355, 1);
        box-sizing: border-box;
        .select-selection-overflow-item {
          flex: none;
          align-self: center;
          max-width: 100%;
          display: inline-flex;
          .select-selection-item {
            display: flex;
            max-width: 100%;
            margin-top: 12px;
            border-radius: 4px;
            cursor: default;
            margin-inline-end: 4px;
            padding-inline-start: 8px;
            padding-inline-end: 8px;
            background: rgba(0, 0, 0, 0.06);
            border: 1px solid transparent;
            line-height: 2.5rem;
            overflow: hidden;
            white-space: nowrap;
            font-weight: 300;
            font-size: 1rem;
            .x-arrow {
              display: inline-block;
              width: 11px;
              height: 11px;
              position: relative;
              box-sizing: border-box;
              cursor: pointer;
              margin-top: 16px;
              &:before,
              &:after {
                content: "";
                position: absolute;
                left: 50%;
                top: 50%;
                width: 100%;
                height: 1px;
                background-color: rgba(0, 0, 0, 0.25);
                transform-origin: center;
                transition: all 150ms ease-in-out;
              }
              &:before {
                transform: rotate(45deg);
              }
              &:after {
                transform: rotate(-45deg);
              }
            }
          }
        }
        input {
          display: inline-flex;
          position: relative;
          max-width: 100%;
          padding-inline-start: 1rem;
          margin-inline-start: 2px;
          color: #24292e;
          background-color: transparent;
          border-color: transparent;
          border-radius: 5px;
          height: 2.6rem;
          line-height: 24px;
          transition: all 0.3s;
          width: 100%;
          min-width: 4.1px;
          box-sizing: border-box;
          margin: 0;
          padding: 0;
          background: transparent;
          border: none;
          outline: none;
          appearance: none;
          font-size: 1.4rem;
          margin-top: 12px;
          z-index: 3;
        }
      }
      .select-arrow-container {
        position: absolute;
        top: 50%;
        inset-inline-end: 12px;
        z-index: 1;
        display: inline-block;
        color: rgba(0, 0, 0, 0.25);
        margin-top: -3px;
        .select-arrow {
          display: block;
          box-sizing: border-box;
          height: 11px;
          width: 11px;
          border-style: solid;
          border-color: rgba(0, 0, 0, 0.25);
          border-width: 0px 1px 1px 0px;
          transition: border-width 150ms ease-in-out;
        }
        .select-arrow-up {
          transform: rotate(225deg);
        }
        .select-arrow-down {
          transform: rotate(45deg);
          margin-top: -6px;
        }
      }
    }
    .select-field:hover .select-clear {
      opacity: 1;
      background: #fff;
      border-radius: 50%;
    }
    .as-label {
      background: #ffffff;
      font-weight: 400;
      position: absolute;
      pointer-events: none;
      transform: translateY(-50%);
      transition: 0.2s ease all;
      white-space: nowrap;
      overflow: hidden;
      display: flex;
      align-items: center;
      z-index: 2;
      background: #ffffff;
      width: auto;
      inset-inline-start: 1.2rem;
      top: 0;
      font-size: 1.2rem;
      padding: 0 0.4rem;
      margin-inline-start: -0.4rem;
      color: rgba(36, 41, 46, 0.6);
      height: 1.3rem;
      line-height: 1.3rem;
      background: #ffffff;
    }
    .select-clear {
      position: absolute;
      top: 50%;
      inset-inline-start: auto;
      inset-inline-end: 11px;
      z-index: 1;
      display: inline-block;
      width: 12px;
      height: 12px;
      margin-top: -6px;
      color: rgba(0, 0, 0, 0.25);
      font-size: 12px;
      font-style: normal;
      line-height: 1;
      text-align: center;
      text-transform: none;
      cursor: pointer;
      opacity: 0;
      transition: color 0.2s ease, opacity 0.3s ease;
      text-rendering: auto;
    }
  }
  .select-item-options-container {
    max-height: 256px;
    overflow-y: auto;
    overflow-anchor: none;
    display: flex;
    flex-direction: column;
    border-radius: 19px;
    outline: none;
    box-shadow: 0 6px 16px 0 rgba(0, 0, 0, 0.08),
      0 3px 6px -4px rgba(0, 0, 0, 0.12), 0 9px 28px 8px rgba(0, 0, 0, 0.05);
    margin-top: 8px;
    padding: 9px;
    scrollbar-width: thin;
    .select-item-options {
      position: relative;
      display: flex;
      min-height: 32px;
      padding: 7px;
      color: rgba(0, 0, 0, 0.88);
      font-weight: normal;
      font-size: 14px;
      line-height: 1.6;
      box-sizing: border-box;
      cursor: pointer;
      border-radius: 4px;
      align-items: center;
      gap: 5px;
      span {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
      }
      &:hover,
      &:active {
        background-color: rgba(0, 0, 0, 0.04);
      }
      .img {
        width: 15px;
      }
    }
    .select-item-options-selected {
      background-color: #e6f4ff;
      color: #1677ff;
      font-weight: bold;
      &:has(+ .select-item-options-selected) {
        border-end-start-radius: 0;
        border-end-end-radius: 0;
      }
      &:has(+ .select-item-options-selected)
        + .select-item-options-selected:not(.select-item-options-disabled) {
        border-start-start-radius: 0;
        border-start-end-radius: 0;
      }
      svg {
        margin-left: auto;
      }
    }
  }
  .display-none {
    display: none !important;
  }
}
